@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200;300;400;500;600&display=swap');

:root {
    --color-dark-blue: #3e52a3;
    --color-orange: #e38826;
    --color-cyan: #006970;
    --color-dark-cyan: #004241;
    --color-light-grey: #f2f2f2;
    
    --font-lexend: 'Lexend Deca';
    --font-big-shoulders: 'Big Shoulders Display';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    margin: 80px 80px 40px 80px;
    display: flex;
    flex-direction: column;
    color: var(--color-light-grey);
}

.sedans,
.suvs,
.luxury {
    padding: 80px 150px 80px 110px;
}

.sedans,
.suvs,
.luxury {
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: var(--color-orange);
}

.sedans {
    border-radius: 10px 10px 0 0;
}

.suvs {
    background-color: var(--color-cyan);
}

.luxury {
    background-color: var(--color-dark-cyan);
    border-radius: 0 0 10px 10px;
}

.sedans > img,
.suvs > img,
.luxury > img {
    margin-top: 30px;
    width: 150px;
}

.sedans > h2,
.suvs > h2,
.luxury > h2 {
    font-size: 6em;
    font-family: var(--font-big-shoulders);
    text-transform: uppercase;
}

.sedans > p,
.suvs > p,
.luxury > p {
    font-family: var(--font-lexend);
    font-size: 2.3em;
    font-weight: 300;
    line-height: 1.8em;
}

.sedans > a,
.suvs > a,
.luxury > a {
    text-decoration: none;
    font-size: 2.2em;
    text-align: center;
    font-family: var(--font-lexend);
    background-color: var(--color-light-grey);
    border: 1px solid var(--color-light-grey);
    display: inline-block;
    width: 320px;
    padding: 30px;
    border-radius: 60px;
    margin-bottom: 20px;
}

.sedans > a:hover,
.suvs > a:hover,
.luxury > a:hover {
    background-color: transparent;
    color: var(--color-light-grey);
}

.sedans > a {
    color: var(--color-orange);
}

.suvs > a {
    color: var(--color-cyan);
}

.luxury > a {
    color: var(--color-dark-cyan);
}

footer {
    text-align: center;
    font-family: var(--font-big-shoulders);
    font-size: 2.3em;
    padding: 0 0 60px;
}

footer > a {
    text-decoration: none;
    color: var(--color-dark-cyan);
    font-weight: 700;
}

footer > a:hover {
    color: var(--color-dark-blue);
    text-decoration: underline;
}

@media screen and (orientation: landscape) {
    body {
        height: 100vh;
    }

    main {
        width: 950px;
        margin: 20px 70px;
        flex-direction: row;
        justify-content: center;
    }

    .sedans,
    .suvs,
    .luxury {
        width: 33.333%;
        padding: 30px 5%;
        gap: 30px;
    }

    .sedans {
        border-radius: 10px 0 0 10px;
    }

    .luxury {
        border-radius: 0 10px 10px 0;
    }

    .sedans > img,
    .suvs > img,
    .luxury > img {
        width: 60px;
    }

    .sedans > h2,
    .suvs > h2,
    .luxury > h2 {
        font-size: 2.5em;
    }

    .sedans > p,
    .suvs > p,
    .luxury > p {
        font-size: 15px;
        font-weight: 300;
    } 

    .sedans > a,
    .suvs > a,
    .luxury > a {
        font-size: .9em;
        padding: 15px;
        margin-top: 40px;
        width: 150px;
    }
}
